body {
  margin: 0;
  overflow-x: hidden;
}

.box {
  background-color: blue;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat( auto-fill, minmax(50px, 1fr));
  width: 100%;
  grid-auto-rows: 50px;

}