
*{
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: white;
  color: white;
}

.head{
  padding: 0.7rem;
  margin: 0 0.5rem;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  border-radius: 10px bottom;
  position: sticky;
  top: 0;
  border-radius: 0 0 10px 10px;
}

.motion ul{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.navbar-container div{
 width: 100%;
 
}

.motion ul li:hover{
  background-color: #555;
  border-radius: 20px;
  cursor: pointer;
}

.motion ul li {
  list-style: none;
  display: block;
  
}
.a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.2rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.toggle-bar{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-bar{
    display: flex;
  }
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .motion ul {
    padding: 1rem;
    display: none;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    gap: 0;
    color: black;
    
  }
 
  .motion ul li{
    text-align: center;
  }

  .motion ul.open{
    display: flex;
  }
  
}


.flex{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
}

